<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="gl-matrix-min.js"></script>
    <script src="geometry.js"></script>
    <script src="tools.js"></script>
    <script src="main.js"></script>
    <title>Assignment 10</title>
</head>

<body onload="main()">
<canvas id="webgl-canvas" width="768" height="768"></canvas>
<div style="float: right">
    <h4>Camera:</h4>
    <div class="slide-container">
        <label for="camera_azimuthal_angle">Azimuthal angle:<br/></label>
        <input type="range" min="-270" max="90" value="-45" id="camera_azimuthal_angle">
    </div>
    <div class="slide-container">
        <label for="camera_polar_angle">Polar angle:<br/></label>
        <input type="range" min="1" max="179" value="60" id="camera_polar_angle">
    </div>
    <div class="slide-container">
        <label for="camera_distance">Distance:<br/></label>
        <input type="range" min="0" max="200" value="20" id="camera_distance">
    </div>
    <div class="slide-container">
        <label for="camera_fov">Field of view:<br/></label>
        <input type="range" min="10" max="150" value="45" id="camera_fov">
    </div>

    <h4>Light:</h4>
    <div class="slide-container">
        <label for="light_azimuthal_angle">Azimuthal angle:<br/></label>
        <input type="range" min="-270" max="90" value="-70" id="light_azimuthal_angle">
    </div>
    <div class="slide-container">
        <label for="light_polar_angle">Polar angle:<br/></label>
        <input type="range" min="1" max="90" value="60" id="light_polar_angle">
    </div>
</div>
</body>

</html>
